services:
  vejr_web:
    container_name: Vejr-Website
    restart: always
    build: ./vejr
    ports:
      - 5003:5003
    environment:
      - TZ=Europe/Copenhagen
    depends_on:
      - redis
  redis:
    container_name: redis
    image: redis:alpine
    restart: always
