aiohttp
asyncio
black
coverage
flake8
flask[async]
flask-login
flask-sqlalchemy
gunicorn
mock
mysql-connector-python
pyflakes
pylint
pymysql
pytest
pytest-asyncio
pytest-cov
python-dotenv
openpyxl
requests
requests-toolbelt
ruff
mypy
pre-commit
