aiohttp
asyncio
black
coverage
flake8
flask[async]
flask-login
flask_mysqldb
flask-sqlalchemy
gunicorn
mock
mysql-connector-python
pyflakes
pylint
pymeteobridgesql
pymysql
pytest
pytest-asyncio
pytest-cov
python-dotenv
pyVisualCrossing
requests
requests-toolbelt
ruff
mypy
pre-commit
