aiohttp
asyncio
black
coverage
dotenv
flake8
flask[async]
flask-login
mock
mysql-connector-python
pyflakes
pylint
pymeteobridgesql==1.4.0
pymysql
pytest
pytest-asyncio
pytest-cov
python-dotenv
requests
requests-toolbelt
ruff
mypy
pre-commit
