:root {
    --font-family: Roboto, sans-serif;
    --color-amber: rgba(255, 193, 8, 1);
    --color-blue: rgba(32, 151, 243, 1);
    --color-brown: rgba(121, 86, 72, 1);
    --color-blue-light: rgba(0, 168, 244, 1);
    --color-disabled: rgba(108, 117, 125, 1);
    --color-green: rgba(76, 175, 80, 1);
    --color-green-light: rgba(76, 175, 80, 0.2);
    --color-green-light2: rgba(140, 194, 75, 0.3);
    --color-grey: rgba(158, 158, 158, 1);
    --color-grey-dark: rgba(33, 33, 33, 1);
    --color-grey-light: rgba(224, 224, 224, 1);
    --color-gray: #6c757d;
    --color-gray-dark: #343a40;
    --color-gray-100: #f8f9fa;
    --color-gray-200: #e9ecef;
    --color-gray-300: #dee2e6;
    --color-gray-400: #ced4da;
    --color-gray-500: #adb5bd;
    --color-gray-600: #6c757d;
    --color-gray-700: #495057;
    --color-gray-800: #343a40;
    --color-gray-900: #212529;
    --color-purple: rgba(156, 39, 176, 1);
    --color-red: rgba(245, 67, 54, 1);
    --color-orange: rgba(255, 152, 0, 1);
    --color-transparent: #00;
    --color-white: rgba(255, 255, 255, 1);
    --arc-diameter: 170px;
    --sun-arc-background: rgb(245, 248, 251);
    --sun-arc-circle: rgb(210, 225, 237);
    --sun-arc-horizon-line: rgb(207, 207, 207);
    --sun-arc-text: rgb(70, 70, 70);
    --sun-arc-text-disabled: rgb(129, 151, 167);
    --sun-arc-sunup: rgb(251, 184, 12);
    --sun-arc-sundown: rgb(86, 108, 129);
}

a:link,
a:visited {
    text-decoration: none;
    color: var(--gray-600);
}

a:hover {
    text-decoration: underline;
    font-weight: 500;
}

.bar-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    height: 12px;
    width: 100%;
}

.bar-container .uvvalue {
    position: absolute;
    left: 0%;
    top: 7;
    background-color: var(--color-white);
    border-radius: 50%;
    height: 9px;
    width: 9px;
    box-shadow: rgba(0, 0, 0, 1) 0 0 4px;
    display: inline-block;
}

.bar-container .uvbar {
    height: 8px;
    width: 100%;
    background-color: var(--color-red);
    background-image: linear-gradient(to right, var(--color-green), var(--color-amber), var(--color-orange), var(--color-red), var(--color-purple));
}

.bar-container .aqivalue {
    position: absolute;
    left: 0%;
    top: 7;
    background-color: var(--color-white);
    border-radius: 50%;
    height: 9px;
    width: 9px;
    box-shadow: rgba(0, 0, 0, 1) 0 0 4px;
    display: inline-block;
}

.bar-container .aqibar {
    height: 8px;
    width: 100%;
    background-color: var(--color-red);
    background-image: linear-gradient(to right, var(--color-green), var(--color-amber), var(--color-orange), var(--color-red), var(--color-purple), var(--color-brown));
}


.bg-blue {
    background: var(--color-blue);
    color: var(--color-white);
}

.bg-green {
    background: var(--color-green);
    color: var(--color-white);
}

.bg-grey {
    background: var(--color-grey);
    color: var(--color-white);
}

.bg-grey-light {
    background: var(--color-grey-light);
    color: var(--color-white);
}

.bg-orange {
    background: var(--color-orange);
    color: var(--color-white);
}

.bg-purple {
    background: var(--color-purple);
    color: var(--color-white);
}

.bg-red {
    background: var(--color-red);
    color: var(--color-white);
}

.canvas-sun {
    background: var(--color-white);
}

.card .img-wrapper {
    max-width: 100%;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-wrapper.forecast-img {
    max-width: 100%;
    height: 2.0em;
    display: flex;
    justify-content: end;
    align-items: start;
}

img {
    max-height: 100%;
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.4))
}

.card.slider {
    margin: 0 0.1em;
    border: none;
}

.card-body.widget {
    height: 160px;
}


.circle-font {
    border-radius: 50%;
    width: 28px;
    height: 28px;
    border: 0;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fg-amber {
    color: var(--color-amber);
}

.fg-blue {
    color: var(--color-blue);
}

.fg-blue-light {
    color: var(--color-blue-light);
}

.fg-brown {
    color: var(--color-brown);
}

.fg-disabled {
    color: var(--gray-600);
}

.fg-green {
    color: var(--color-green);
}

.fg-grey {
    color: var(--color-grey);
}

.fg-grey-light {
    color: var(--color-grey-light);
}

.fg-orange {
    color: var(--color-orange);

}

.fg-purple {
    color: var(--color-purple);
}

.fg-red {
    color: var(--color-red);
}

.fs-0 {
    font-size: 3rem;
}

.fs-7 {
    font-size: 0.875rem;
}

.fs-8 {
    font-size: 0.7rem;
}

.fs-tiny {
    font-size: 0.875rem;
}

.modal-lg {
    max-width: 60%;
    min-width: 345px;
}

.mt-n1 {
    margin-top: -0.4rem;
}

.mt-n2 {
    margin-top: -0.7rem;
}

.mt-n3 {
    margin-top: -1rem;
}

.mt-n4 {
    margin-top: -1.4rem;
}

.sun-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 270px;
    width: 100%;
}

@media only screen and (max-width: 600px) {

    .fs-tiny {
        font-size: 0.7rem;
    }

    .modal-lg {
        margin: auto;
    }
}