{% extends "base.html" %} {% block title %}{{ title }}{% endblock %} {% block content
%}

<div class="container">
  <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 mt-2">
    <div class="col mb-4">
      <div class="card">
        <h6 class="p-2 bg-blue">Temperatur</h6>
        <div class="card-body">
          <div id="valTemperature"></div>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <h6 class="p-2 bg-green">Vind</h6>
        <div class="card-body">
          <div id="valWindgust"></div>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}